.first
{
    color:blue;
    background-color: aqua;
    padding:20px;
}

.login-bg{

background:linear-gradient(135deg,#1e3c72,#2a5298,#00c6ff);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.glass-card{

background:rgba(255,255,255,.15);

backdrop-filter:blur(18px);

-webkit-backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.25);

border-radius:25px;

box-shadow:0 15px 40px rgba(0,0,0,.35);

}

.form-control{

border-radius:12px;

height:55px;

background:rgba(255,255,255,.9);

}

.form-control:focus{

box-shadow:none;

border-color:#0d6efd;

}

.login-btn{

background:linear-gradient(to right,#00c6ff,#0072ff);

color:#fff;

border:none;

border-radius:12px;

transition:.3s;

}

.login-btn:hover{

transform:translateY(-3px);

box-shadow:0 10px 25px rgba(0,114,255,.4);

color:white;

}